apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: broadcaster-dep
  - path: configmap-patch.yaml
    target:
      kind: ConfigMap
      name: broadcaster-cm
