apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging-project
resources:
- ./../../base
- broadcaster
- todo-backend
namePrefix: staging-

images:
- name: project/broadcaster
  newName: taas93/broadcaster
  newTag: 1fee66bc64215876291312855c48368bc3fe2d72
- name: project/todo-app
  newName: taas93/todo-app
  newTag: 1fee66bc64215876291312855c48368bc3fe2d72
- name: project/todo-backend
  newName: taas93/todo-backend
  newTag: 1fee66bc64215876291312855c48368bc3fe2d72
