apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../base
namePrefix: staging-

images:
- name: project/broadcaster
  newName: taas93/broadcaster
  newTag: 468d8ba62b568419684c266ea961a22e4cf8cb84
- name: project/todo-app
  newName: taas93/todo-app
  newTag: 468d8ba62b568419684c266ea961a22e4cf8cb84
- name: project/todo-backend
  newName: taas93/todo-backend
  newTag: 468d8ba62b568419684c266ea961a22e4cf8cb84
