apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../base
namePrefix: staging-

images:
- name: project/broadcaster
  newName: taas93/broadcaster
  newTag: f38474f8964bb09c6a9476f29b5c4b232b2059c9
- name: project/todo-app
  newName: taas93/todo-app
  newTag: f38474f8964bb09c6a9476f29b5c4b232b2059c9
- name: project/todo-backend
  newName: taas93/todo-backend
  newTag: f38474f8964bb09c6a9476f29b5c4b232b2059c9
