apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../base
namePrefix: staging-

images:
- name: project/broadcaster
  newName: taas93/broadcaster
  newTag: cfe25d10711429f0595da3910a21cd34a5b37121
- name: project/todo-app
  newName: taas93/todo-app
  newTag: cfe25d10711429f0595da3910a21cd34a5b37121
- name: project/todo-backend
  newName: taas93/todo-backend
  newTag: cfe25d10711429f0595da3910a21cd34a5b37121
