apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging-project

resources:
  - ./../../base
  - namespace.yaml
namePrefix: staging-

replacements:
  - source:
      fieldPath: metadata.name
      kind: Service
      name: postgres-svc
    targets:
      - fieldPaths:
          - data.database_host
        select:
          kind: ConfigMap
          name: todo-backend-cm
  - source:
      fieldPath: metadata.name
      kind: Service
      name: todo-backend-svc
    targets:
      - fieldPaths:
          - spec.jobTemplate.spec.template.spec.containers.0.env.0.value
        select:
          kind: CronJob
          name: todo-job

images:
  - name: project/broadcaster
    newName: taas93/broadcaster
    newTag: 7ca1be9e88fe575c99b02b0f12ee73bc24a571ad
  - name: project/todo-app
    newName: taas93/todo-app
    newTag: 7ca1be9e88fe575c99b02b0f12ee73bc24a571ad
  - name: project/todo-backend
    newName: taas93/todo-backend
    newTag: 7ca1be9e88fe575c99b02b0f12ee73bc24a571ad

configMapGenerator:
  - behavior: merge
    literals:
      - env="staging"
      - nats_host="prod-nats"
    name: broadcaster-cm
  - behavior: merge
    literals:
      - env="staging"
      - nats_host="prod-nats"
    name: todo-backend-cm
