apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production-project

resources:
  - ./../../base
  - backup-job.yaml
  - namespace.yaml

patches:
  - path: broadcaster-dep-patch.yaml

namePrefix: prod-

images:
  - name: project/broadcaster
    newName: taas93/broadcaster
    newTag: prod-91fd2d88babdaff92f424a05124df0b6ca65f4ed
  - name: project/todo-app
    newName: taas93/todo-app
    newTag: prod-91fd2d88babdaff92f424a05124df0b6ca65f4ed
  - name: project/todo-backend
    newName: taas93/todo-backend
    newTag: prod-91fd2d88babdaff92f424a05124df0b6ca65f4ed

# Taken from https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/

# "Since the Service name may change as namePrefix or nameSuffix is added in the kustomization.yaml file. It is not recommended to hard code the Service name in the command argument. For this usage, Kustomize can inject the Service name into containers through replacements."

replacements:
  - source:
      fieldPath: metadata.name
      kind: Service
      name: postgres-svc
    targets:
      - fieldPaths:
          - data.database_host
        select:
          kind: ConfigMap
          name: todo-backend-cm
  - source:
      fieldPath: metadata.name
      kind: Service
      name: todo-backend-svc
    targets:
      - fieldPaths:
          - spec.jobTemplate.spec.template.spec.containers.0.env.0.value
        select:
          kind: CronJob
          name: todo-job

configMapGenerator:
  - behavior: merge
    literals:
      - env="production"
      - nats_host="prod-nats"
    name: broadcaster-cm
  - behavior: merge
    literals:
      - env="production"
      - nats_host="prod-nats"
    name: todo-backend-cm
  - behavior: merge
    literals:
      - env="production"
    name: todo-app-cm

helmCharts:
  - name: nats
    repo: https://nats-io.github.io/k8s/helm/charts/
    valuesInline:
      fullnameOverride: nats
