apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production-project

resources:
- ./../../base
- backup-job.yaml

patches:
- path: broadcaster-dep-patch.yaml

namePrefix: prod-

images:
- name: project/broadcaster
  newName: taas93/broadcaster
  newTag: bc85275c6edc9bf442ebbbe5ae5e029d7ba6e2d5
- name: project/todo-app
  newName: taas93/todo-app
  newTag: bc85275c6edc9bf442ebbbe5ae5e029d7ba6e2d5
- name: project/todo-backend
  newName: taas93/todo-backend
  newTag: bc85275c6edc9bf442ebbbe5ae5e029d7ba6e2d5

replacements:
- source:
    fieldPath: metadata.name
    kind: Service
    name: postgres-svc
  targets:
  - fieldPaths:
    - data.database_host
    select:
      kind: ConfigMap
      name: todo-backend-cm
- source:
    fieldPath: metadata.name
    kind: StatefulSet
    name: project-nats
  targets:
  - fieldPaths:
    - data.nats_host
    select:
      kind: ConfigMap
      name: todo-backend-cm
  - fieldPaths:
    - data.nats_host
    select:
      kind: ConfigMap
      name: broadcaster-cm
- source:
    fieldPath: metadata.name
    kind: Service
    name: todo-backend-svc
  targets:
  - fieldPaths:
    - data.database_host
    select:
      kind: CronJob
      name: todo-job
configMapGenerator:
- behavior: merge
  literals:
  - env="production"
  name: broadcaster-cm
- behavior: merge
  literals:
  - env="production"
  name: todo-backend-cm
