@use '@/styles/colors.scss';

.textInput {
  width: "100%";
  background-color: transparent;
  color: colors.$text;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: colors.$borderColor;
  padding: 4px 8px;

  &:focus {
    outline: none;
  }

  &:focus-within {
    border-color: colors.$lavender;
  }

}