$crust: #11111b;
$mantle: #181825;
$background: #1e1e2e;
$surfaceBackgroundZero: #313244;
$surfaceBackgroundOne: #45475a;
$surfaceBackgroundTwo: #585b70;
$overlayZero: #6c7086;
$overlayOne: #7f849c;
$overlayTwo: #9399b2;
$borderColor: #6c7086;
$text: #cdd6f4;
$subTextOne: #bac2de;
$subTextZero: #a6adc8;
$lavender: #b4befe;
$mauve: #cba6f7;
$destructive: #f38ba8;
$success: #a6e3a1;
$rosewater: #f5e0dc;

$cardShadowColor: rgb(180 190 254 / 25%);

$buttonHoverFilter: brightness(1.2);
$buttonActiveFilter: brightness(1.5);

$inputSelection: rgba(147, 153, 178, 0.3);